<main>
  <div class="sideber">
    <%= render 'users/info', user: @user, book: @newbook %>
  </div>

  <div class="mainright">
    <hi>Book detail</hi>
    <div class="bookshow">
      <p>
        <strong>Title:</strong>
        <%= @book.title %>
      </p>
      <p>
        <strong>Body:</strong>
        <%= @book.body %>
      </p>
    </div>
  </div>

</main>
