* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  width: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 70px 0;
}

.sideber{
  width: 1;
}

.mainright{
  width: 3;
}